{% extends "layout.html" %}

  {% block content %}
        
      <!-- Registration -->
      <div class="block">
        <div class="block-bot">
          <div class="head">
            <div class="head-cnt">
              <h3>Download</h3>
              <div class="cl">&nbsp;</div>
            </div>
          </div>
          
          <div class="row-articles articles">
            <div class="cl">&nbsp;</div>
            <div class="article">
              <div class="cl">&nbsp;</div>
              &nbsp;<br />
              &nbsp;<br />









              <div align="middle">
                <h3>
                  Thank you for your purchase!
          	       <br><br><br>
                  <a href="download.txt" download="_blank">Download Game(s)</a>
                </h3>
              </div>

              

              
              <div class="cl">&nbsp;</div>
            </div>

            <div class="article last-article">
              <div class="cl">&nbsp;</div>
              <p>
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />     
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br /> 
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br /> 
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br /> 
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br /> 
                &nbsp;<br />
                &nbsp;<br /> 
                
              </p>
   

              <div class="cl">&nbsp;</div>
            </div>
            <div class="cl">&nbsp;</div>
          </div>
        </div>
      </div>
      <!-- / Editor's Pick -->
      
  
      

      
   {% endblock %}