{% extends "layout.html" %}

  {% block content %}
        
      <!-- Registration -->
      <div class="block">
        <div class="block-bot">
          <div class="head">
            <div class="head-cnt">
              <h3>Download</h3>
              <div class="cl">&nbsp;</div>
            </div>
          </div>
          
          <div class="row-articles articles">
            <div class="cl">&nbsp;</div>
            <div class="article">
              <div class="cl">&nbsp;</div>
              &nbsp;<br />
              &nbsp;<br />

              <!-- If user is logged in, add their name to the js controller for userid lookup. //-->
              {% if sessionUser[0] != '' %}
                <p hidden type="text" ng-model="loggedinusername" ng-init="loggedinusername='{{originalUser[0]}}'"></p>
              {% endif %}

              <div align="middle">
                <h3>
                  Thank you for your purchase!
          	       <br><br><br>
                  <a href="download.txt" download="_blank">Download Game(s)</a>
                </h3>
                </br>
              </div>

              

              
              <div class="cl">&nbsp;</div>
            </div>

            <div class="article last-article">
              <div class="cl">&nbsp;</div>
                </br>
                <h2 align="middle">Before You Go:</h2>
                </br>
                <h2 align="middle">Vote For A Game To Go On Sale Next Week!</h2>
                <!--<p hidden type="text" ng-model="votecount" ng-init="votecount=getVote();"></p>-->
                </br>
                
                <div class="float_center">
                  </br>
                <form ng-submit="vote()">
                  
                  <table>
                    
                    <tr><td>Game Selection</td>
                    <td><select name="favorite" ng-model="favorite" id="favorite">
                      <option value="" selected="selected" disabled="disabled">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Select Game</option>
                      <option>LIMBO</option>
                      <option>Space Pirates and Zombies (S.P.A.Z.)</option>
                      <option>Thomas Was Alone</option>
                      <option>Juniper's Knot</option>
                      <option>Portal</option>
                      <option>Transistor</option>
                    </select></td>
                    </tr>
                    <tr><td></br></td></tr>
                    <tr><td>Comment For All To See&nbsp;&nbsp;</td><td><input type="text" ng-model="comment" id="comment" name="newcomment" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Comment" size="30" maxlength="55" pattern=".{1,55}" required title="up to 55 characters"/></td></tr>
              
                    <tr><td></br>Select Text Color:</td></tr>
                  </table>
                  </br>
                  <table width=350 height=50 align=center>
                    <tr>
                      <td><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
                      <td><input type="radio" ng-model="color" name="color" value="yellow">
                      yellow </td>
                      <td><input type="radio" ng-model="color" name="color" value="red"> 
                      red </td>
                      <td><input type="radio" ng-model="color" name="color" value="limegreen">
                      limegreen </td>
                      <td><input type="radio" ng-model="color" name="color" value="blue">
                      blue </td>
                    </tr>
                    <tr>
                      <td><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
                      <td><input type="radio" ng-model="color" name="color" value="peachpuff">
                      peachpuff </td>
                      <td><input type="radio" ng-model="color" name="color" value="orange">
                      orange </td>
                      <td><input type="radio" ng-model="color" name="color" value="darkviolet">
                      darkviolet </td>
                      <td><input type="radio" ng-model="color" name="color" value="none" checked="checked">
                      gray </td>
                    </tr>
                  </table>
                 
                
                <tr><td></br></td></tr>
                  <p><input type="submit" value="&nbsp;&nbsp;Vote&nbsp;&nbsp;" style="margin-left: 158px;" ng-disabled="disabledVote()"/></p>
                </form> 
                </div>
                  
                  
                  
                  
              <p>

                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />     
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br /> 
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br /> 
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br /> 
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br /> 
                &nbsp;<br />
                &nbsp;<br /> 
                
              </p>
   

              <div class="cl">&nbsp;</div>
            </div>
            <div class="cl">&nbsp;</div>
          </div>

        </div>
      </div>
      <!-- / Editor's Pick -->
      
  
      

      
   {% endblock %}