{% extends "layout.html" %}

  {% block content %}
        

      
      <!-- Editor's Pick -->
      <div class="block">
        <div class="block-bot">
          <div class="head">
            <div class="head-cnt"> 
              <!-- Make socketio changes for the nextpage button. //-->
              <form ng-submit="nextpage()">
                <!-- <a href="#" class="view-all">next page</a> //-->
                <button type="submit" name="nextpage" class="view-all" ng-disabled="disablednextpage()">next page</button>
              </form>

              <!-- If user is logged in, add their name to the js controller for userid lookup. //-->
              {% if sessionUser[0] != '' %}
                <p hidden type="text" ng-model="loggedinusername" ng-init="loggedinusername='{{originalUser[0]}}'"></p>
              {% endif %}

              <!-- Decide which type of database search to run here. /-->
              {% if games == 'all' %}
                <h3 type="text" ng-model="searchtype" ng-init="searchtype='all'">All Games</h3>
                <p hidden type="text" ng-model="gamePageListSize" ng-init="gamePageListSize=0"></p>
              {% endif %}
              
              <div class="cl">&nbsp;</div>
            </div>
          </div>
          
          <div class="row-articles articles">
            <div class="cl">&nbsp;</div>
            
            <!-- If 1st game exists, display it. //-->
              <div class="article" ng-if="gamePageListSize >= 1">
                <div class="cl">&nbsp;</div>
                <div class="image"> <a href="#"><img src="css/images/img7.jpg" alt="" /></a> </div>
                <div class="cnt">
                  <h4 id="title1ID"></h4>
                  <p id="desc1ID"></p>
                  <p id="price1ID"></p>
                  <p id="discount1ID"></p>
                  
                  <!-- Make socketio changes for the addtocart button. //-->
                  <form ng-submit="addtocart1()">
                    <button type="submit" name="addtocart1" ng-disabled="disabledcart()">add to cart</button>
                  </form>
              
                </div>
                <h3 class="status" id="status1ID"></h3>
                <div class="cl">&nbsp;</div>
              </div>
 
            <!-- If 2nd game exists, display it. //-->
            <div class="article" ng-if="gamePageListSize >= 2">
              <div class="cl">&nbsp;</div>
              <div class="image"> <a href="#"><img src="css/images/img8.jpg" alt="" /></a> </div>
              <div class="cnt">
                <h4 id="title2ID"></h4>
                <p id="desc2ID"></p>
                <p id="price2ID"></p>
                <p id="discount2ID"></p>
                
                <!-- Make socketio changes for the addtocart button. //-->
                <form ng-submit="addtocart2()">
                  <button type="submit" name="addtocart2" ng-disabled="disabledcart()">add to cart</button>
                </form>
                
              </div>
              <h3 class="status" id="status2ID"></h3>
              <div class="cl">&nbsp;</div>
            </div>
            
            <!-- If 3rd game exists, display it. //-->
            <div class="article" ng-if="gamePageListSize >= 3">
              <div class="cl">&nbsp;</div>
              <div class="image"> <a href="#"><img src="css/images/img9.jpg" alt="" /></a> </div>
              <div class="cnt">
                <h4 id="title3ID"></h4>
                <p id="desc3ID"></p>
                <p id="price3ID"></p>
                <p id="discount3ID"></p>
                
                <!-- Make socketio changes for the addtocart button. //-->
                <form ng-submit="addtocart3()">
                  <button type="submit" name="addtocart3" ng-disabled="disabledcart()">add to cart</button>
                </form>
                
              </div>
              <h3 class="status" id="status3ID"></h3>
              <div class="cl">&nbsp;</div>
            </div>           
            
            <!-- If 4th game exists, display it. //-->
            <div class="article" ng-if="gamePageListSize >= 4">
              <div class="cl">&nbsp;</div>
              <div class="image"> <a href="#"><img src="css/images/img9.jpg" alt="" /></a> </div>
              <div class="cnt">
                <h4 id="title4ID"></h4>
                <p id="desc4ID"></p>
                <p id="price4ID"></p>
                <p id="discount4ID"></p>
                
                <!-- Make socketio changes for the addtocart button. //-->
                <form ng-submit="addtocart4()">
                  <button type="submit" name="addtocart4" ng-disabled="disabledcart()">add to cart</button>
                </form>                
                
              </div>
              <h3 class="status" id="status4ID"></h3>
              <div class="cl">&nbsp;</div>
            </div>            
            
            <!-- If 5th game exists, display it. //-->
            <div class="article last-article" ng-if="gamePageListSize >= 5">
              <div class="cl">&nbsp;</div>
              <div class="image"> <a href="#"><img src="css/images/img10.jpg" alt="" /></a> </div>
              <div class="cnt">
                <h4 id="title5ID"></h4>
                <p id="desc5ID"></p>
                <p id="price5ID"></p>
                <p id="discount5ID"></p>
                
                <!-- Make socketio changes for the addtocart button. //-->
                <form ng-submit="addtocart5()">
                  <button type="submit" name="addtocart5" ng-disabled="disabledcart()">add to cart</button>
                </form>                
                
              </div>
              <h3 class="status" id="status5ID"></h3>
              <div class="cl">&nbsp;</div>
            </div>
            
            <div class="cl">&nbsp;</div>
            
          </div>
        </div>
      </div>
      <!-- / Editor's Pick -->
      
   {% endblock %}