{% extends "layout.html" %}

  {% block content %}
        

      
      <!-- Editor's Pick -->
      <div class="block">
        <div class="block-bot">
          <div class="head">
            <div class="head-cnt"> 

              <!-- Make socketio changes for the nextpage button. //-->
              <button type="submit" name="nextpage" class="view-all" ng-click="nextpage()" ng-disabled="disablednextpage()">next page</button>
              <!-- Make socketio changes for the prevpage button. //-->
              <button type="submit" name="prevpage" class="view-all" ng-click="prevpage()" ng-disabled="disabledprevpage()">prev page</button>

              <!-- If user is logged in, add their name to the js controller for userid lookup. //-->
              {% if sessionUser[0] != '' %}
                <p hidden type="text" ng-model="loggedinusername" ng-init="loggedinusername='{{originalUser[0]}}'"></p>
              {% endif %}

              <!-- Decide which type of database search to run here. /-->
              {% if games == 'all' %}
                <h3 type="text" ng-model="searchtype" ng-init="searchtype='all'">All Games</h3>
                <p hidden type="text" ng-model="gamePageListSize" ng-init="gamePageListSize=0"></p>
              {% endif %}
              
              {% if games == 'Search' %}
                <h3 type="text" ng-model="searchtype" ng-init="searchtype='Search'">Found Games</h3>
                <p hidden type="text" ng-model="gamePageListSize" ng-init="gamePageListSize=0"></p>
                <p hidden type="text" ng-model="searchString" ng-init="searchString='{{Search}}'"></p>
                
              {% endif %}              
              
              
              <div class="cl">&nbsp;</div>
            </div>
          </div>
          
          <div class="row-articles articles">
            <div class="cl">&nbsp;</div>
            
            <!-- If 1st game exists, display it. //-->
              <div class="article" ng-if="gamePageListSize >= 1" ng-repeat="x in gamePageList" ng-init="number = countInit()">
                
                <div class="cl">&nbsp;</div>
                
                <div class="image" ng-if="number == 1">
                  <a href="#"><img id="image1ID" src="" /></a>
                  <p hidden ng-init="updateImage1()"></p>
                </div>
                <div class="image" ng-if="number == 2">
                  <a href="#"><img id="image2ID" src="" /></a>
                  <p hidden ng-init="updateImage2()"></p>
                </div>  
                <div class="image" ng-if="number == 3">
                  <a href="#"><img id="image3ID" src="" /></a>
                  <p hidden ng-init="updateImage3()"></p>
                </div>                
                <div class="image" ng-if="number == 4">
                  <a href="#"><img id="image4ID" src="" /></a>
                  <p hidden ng-init="updateImage4()"></p>
                </div>
                <div class="image" ng-if="number == 5">
                  <a href="#"><img id="image5ID" src="" /></a>
                  <p hidden ng-init="updateImage5()"></p>
                </div>                

                <div class="cnt">
                  <h4 ng-bind="x.title"></h4>
                  <p ng-bind="x.desc"></p>
                  
                  <p ng-if="gamePageListSize >= 1"></br></p>
                  <p ng-bind="x.price"></p>
                  
                  <div ng-if="number == 1">
                    <!-- Make socketio changes for the addtocart button. //-->
                    <form ng-submit="addtocart1()">
                      <p></br></p>
                      <button type="submit" name="addtocart1" ng-disabled="disabledcart()">add to cart</button>
                    </form>
                  </div>
                  <div ng-if="number == 2">
                    <!-- Make socketio changes for the addtocart button. //-->
                    <form ng-submit="addtocart2()">
                      <p></br></p>
                      <button type="submit" name="addtocart2" ng-disabled="disabledcart()">add to cart</button>
                    </form>
                  </div>
                  <div ng-if="number == 3">
                    <!-- Make socketio changes for the addtocart button. //-->
                    <form ng-submit="addtocart3()">
                      <p></br></p>
                      <button type="submit" name="addtocart3" ng-disabled="disabledcart()">add to cart</button>
                    </form>
                  </div>              
                  <div ng-if="number == 4">
                    <!-- Make socketio changes for the addtocart button. //-->
                    <form ng-submit="addtocart4()">
                      <p></br></p>
                      <button type="submit" name="addtocart4" ng-disabled="disabledcart()">add to cart</button>
                    </form>
                  </div> 
                  <div ng-if="number == 5">
                    <!-- Make socketio changes for the addtocart button. //-->
                    <form ng-submit="addtocart5()">
                      <p></br></p>
                      <button type="submit" name="addtocart5" ng-disabled="disabledcart()">add to cart</button>
                    </form>
                  </div>   
                </div>
                <div ng-if="number == 1">
                  <h3 class="status" id="status1ID"></h3>
                </div>
                <div ng-if="number == 2">
                  <h3 class="status" id="status2ID"></h3>
                </div>  
                <div ng-if="number == 3">
                  <h3 class="status" id="status3ID"></h3>
                </div>                
                <div ng-if="number == 4">
                  <h3 class="status" id="status4ID"></h3>
                </div> 
                <div ng-if="number == 5">
                  <h3 class="status" id="status5ID"></h3>
                </div>                
                
                <div class="cl">&nbsp;</div>
              </div>            
            

            <div class="cl">&nbsp;</div>
            
          </div>
        </div>
      </div>
      <!-- / Editor's Pick -->
      
   {% endblock %}