{% extends "layout.html" %}

  {% block content %}
        
      <!-- Checkout -->
      <div class="block">
        <div class="block-bot">
          <div class="head">
            <div class="head-cnt">
              <h3>Update Credit Card</h3>
              <div class="cl">&nbsp;</div>
            </div>
          </div>
          
          {% if sessionUser[0] != '' %}
            <p hidden type="text" ng-model="loggedinusername" ng-init="loggedinusername='{{sessionUser[0]}}'"></p>
            <p hidden type="text" ng-model="cmonth" ng-init="cmonth='{{currentmonth}}'"></p>
            <p hidden type="text" ng-model="cyear" ng-init="cyear='{{currentyear}}'"></p>
          {% endif %}
          
          
          <div class="row-articles articles">
            <div class="cl">&nbsp;</div>
            <div class="article">
              <div class="cl">&nbsp;</div>
              &nbsp;<br />
              &nbsp;<br />

 
              <div class="cnt">
  
                <form ng-submit="registercc()">
                  <p>
                    <h3><label for="ccnumber">Credit Card #:</label></h3>
                    <input type="number" ng-model="ccnumber" id="ccnumber" name="ccnumber" size="20" oninput="if(value.length>16)value=value.slice(0,16)" pattern=".{15,16}" required title="15 to 16 digits"/>
                  </p>
                  &nbsp;<br />
                  <p>
                    <h3><label for="cccode">Security Code:</label></h3>
                    <input type="number" ng-model="cccode" id="cccode" name="cccode" size="20" oninput="if(value.length>4)value=value.slice(0,4)" pattern=".{3,4}" required title="3 to 4 digits"/>
                  </p>
                  &nbsp;<br />
                  <p>
                    <h3><label for="expmonth">Expiration Month:</label></h3>
                    <select ng-model="expmonth" id="expmonth" name="expmonth">
                      <option selected="selected" disabled="disabled">Select Month</option>
                      <option value="1">January</option>
                      <option value="2">February</option>
                      <option value="3">March</option>
                      <option value="4">April</option>
                      <option value="5">May</option>
                      <option value="6">June</option>
                      <option value="7">July</option>
                      <option value="8">August</option>
                      <option value="9">September</option>
                      <option value="10">October</option>
                      <option value="11">November</option>
                      <option value="12">December</option>
                    </select>
                  </p>
                  &nbsp;<br />
                  <p>
                    <h3><label for="expyear">Expiration Year:</label></h3>
                    <input type="number" ng-model="expyear" id="expyear" name="expyear" size="20" oninput="if(value.length>4)value=value.slice(0,4)" pattern=".{4,4}" required title="4 digits"/>
                  </p>
                  &nbsp;<br />
                  <p>
                    <input type="submit" value="update" name="update" ng-disabled="disabledCC()"/>
                  </p>
                </form>
                &nbsp;<br />
                <p>
                  <h3>Status: </h3> 
                  <input type="text" ng-model="checkoutstatus" placeholder="Checkout Status" size="36" readonly="readonly"/>
                </p>
                

              </div>

              

              
              <div class="cl">&nbsp;</div>
            </div>

            <div class="article last-article">
              <div class="cl">&nbsp;</div>
              <p>
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />     
                &nbsp;<br />
                &nbsp;<br />
                &nbsp;<br />

                
              </p>
   

              <div class="cl">&nbsp;</div>
            </div>
            <div class="cl">&nbsp;</div>
          </div>
        </div>
      </div>
      <!-- / Editor's Pick -->
      
  
      

      
   {% endblock %}